@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Recursive:wght@500&family=Rubik:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Odibee Sans', cursive;
}

body {
    background-color:rgba(8, 8, 8, 0.842);
}

.container h1 {
    font-size: 100px;
    color: white;
    padding-bottom: 40px;
    text-shadow: 10px 10px 10px black
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#btn {
    padding: 15px 32px;
    margin-bottom: 10px;
    font-size: 32px;
    background: rgb(224, 9, 9);
    border-radius: 5px;
}

#btn:hover {
    cursor: pointer;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

.play:hover {
    color: white;
}

.score:hover {
    color: yellow;
}

.play {
    color: black; 
}
    
/*.play {
    animation:blinking 2.9s infinite;
    }
    @keyframes blinking{
    47%{   color: #000; }
    62%{   color: transparent;}
    } */
    
    .play:hover {
        color: white;
    }
.fa-crown {
    font-size: 25px;
    margin-left: 10px;
}